<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.seafile.seadroid"
      android:versionCode="1"
      android:versionName="0.2.4">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.seafile.seadroid.SeadroidApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity android:name="com.seafile.seadroid.AccountsActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".BrowserActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Sherlock"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".FileActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Sherlock"
                  android:uiOptions="splitActionBarWhenNarrow">
        </activity>
        
        <activity android:name=".MarkdownActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity android:name=".AccountDetailActivity"
                  android:label="@string/app_name">
        </activity>
        
        <activity
    		android:name="com.ipaulpro.afilechooser.FileChooserActivity"
    		android:icon="@drawable/ic_chooser"
    		android:label="@string/choose_file" >
        	<intent-filter>
            	<action android:name="android.intent.action.GET_CONTENT" />

            	<category android:name="android.intent.category.DEFAULT" />
            	<category android:name="android.intent.category.OPENABLE" />

            	<data android:mimeType="*/*" />
        	</intent-filter>
    	</activity>

    </application>
</manifest>
