<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.seafile.seadroid2"
      android:versionCode="41"
      android:versionName="1.9.2">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- to start monitor services during boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- to modify Seadroid's own account sync settings -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <!-- get list of Seadroid accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <!--Set/Get the auth token from the account manager -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <!-- Add/Remove/Update Seafile accounts -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22"/>

    <application
        android:allowBackup="true"
        android:name="com.seafile.seadroid2.SeadroidApplication"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <activity android:name="com.seafile.seadroid2.ui.activity.AccountsActivity"
                  android:launchMode="singleTop"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".account.ui.ShibbolethActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".account.ui.ShibbolethAuthorizeActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.SettingsActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.BrowserActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.SeafileTheme"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.seafile.seadroid2.ui.activity.UnlockGesturePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeafileTheme"
            android:label="@string/app_name" />
        
        <activity
            android:name="com.seafile.seadroid2.ui.activity.CreateGesturePasswordActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeafileTheme" />

        <activity android:name="com.seafile.seadroid2.ui.activity.MarkdownActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".account.ui.AccountDetailActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <!-- MultipleImageSelectionActivity uses the default theme, instead of
             ActionBarSherlock -->
        <activity android:name="com.seafile.seadroid2.gallery.MultipleImageSelectionActivity"
                  android:theme="@android:style/Theme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.ShareToSeafileActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:excludeFromRecents="true"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.SeafilePathChooserActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.FileActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".account.ui.SeafileAuthenticatorActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.fileschooser.MultiFileChooserActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.TransferActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name="com.seafile.seadroid2.ui.activity.SearchActivity"
                android:theme="@style/Theme.SeafileTheme"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity android:name="com.seafile.seadroid2.cameraupload.CameraUploadConfigActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".ui.activity.GalleryActivity"
                  android:theme="@style/Theme.SeafileTheme"
                  android:label="@string/app_name">
        </activity>

        <provider
            android:name="com.seafile.seadroid2.provider.SeafileProvider"
            android:authorities="com.seafile.seadroid2"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:enabled="@bool/atLeastKitKat">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <service android:name="com.seafile.seadroid2.transfer.TransferService" > </service>
        <service android:name="com.seafile.seadroid2.monitor.FileMonitorService" > </service>
        <service android:name=".cameraupload.MediaObserverService" />

        <provider
            android:name=".cameraupload.StubContentProvider"
            android:authorities="com.seafile.seadroid2.cameraupload"
            android:label="@string/sync_provider_camera_upload"
            android:exported="false"
            android:syncable="true"/>

        <service android:name=".account.AuthenticatorService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>

        <service
                android:name=".cameraupload.CameraSyncService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                    android:resource="@xml/cameraadapter" />
        </service>

        <receiver android:name="com.seafile.seadroid2.BootAutostart">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
      </application>
</manifest>
