<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="us.feras.mdv" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- to start monitor services during boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- to modify Seadroid's own account sync settings -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!--Set/Get the auth token from the account manager -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!--  auth accounts  -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- get list of Seadroid accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Add/Remove/Update Seafile accounts -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!--<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />-->

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />

    <!--    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />-->


    <!-- Apps that target Android 9 (API level 28) or higher and use foreground services
    must request the FOREGROUND_SERVICE permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Runtime permissions introduced in Android 13 (API level 33) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- To handle the reselection within the app on devices running Android 14
         or higher if your app targets Android 14 (API level 34) or higher.  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:name=".SeadroidApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme.Material3">

        <!--        <provider-->
        <!--            android:name="androidx.startup.InitializationProvider"-->
        <!--            android:authorities="${applicationId}.androidx-startup"-->
        <!--            android:exported="false"-->
        <!--            tools:node="merge">-->
        <!--            &lt;!&ndash; This entry makes ExampleLoggerInitializer discoverable. &ndash;&gt;-->
        <!--            <meta-data  android:name="com.example.ExampleLoggerInitializer"-->
        <!--                android:value="androidx.startup" />-->
        <!--        </provider>-->

        <!--        <provider-->
        <!--            android:name="androidx.startup.InitializationProvider"-->
        <!--            android:authorities="${applicationId}.androidx-startup"-->
        <!--            android:exported="false"-->
        <!--            tools:node="merge">-->
        <!--            &lt;!&ndash; If you are using androidx.startup to initialize other components &ndash;&gt;-->
        <!--            <meta-data-->
        <!--                android:name="androidx.work.WorkManagerInitializer"-->
        <!--                android:value="androidx.startup"-->
        <!--                tools:node="remove" />-->
        <!--        </provider>-->

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.account.AccountsActivity"
            android:launchMode="singleTop" />

        <activity android:name=".ui.account.sso.SingleSignOnActivity" />

        <activity android:name=".ui.account.sso.SingleSignOnAuthorizeActivity" />

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="uiMode|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.gesture.UnlockGesturePasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.gesture.CreateGesturePasswordActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.markdown.MarkdownActivity" />

        <activity
            android:name=".ui.account.AccountDetailActivity"
            android:parentActivityName=".ui.account.AccountsActivity" />

        <activity
            android:name=".ui.share.ShareToSeafileActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.file.FileActivity" />

        <activity
            android:name=".ui.account.SeafileAuthenticatorActivity"
            android:parentActivityName=".ui.account.AccountsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.account.AccountsActivity" />
        </activity>


        <activity
            android:name=".ui.camera_upload.CameraUploadConfigActivity"
            android:configChanges="uiMode" />
        <activity
            android:name=".ui.folder_backup.FolderBackupConfigActivity"
            android:configChanges="uiMode" />

        <activity
            android:name=".ui.editor.EditorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Editor" />

        <provider
            android:name=".ui.search.RecentSearchSuggestionsProvider"
            android:authorities="${applicationId}.ui.search.RecentSearchSuggestionsProvider" />

        <activity
            android:name=".ui.search.Search2Activity"
            android:configChanges="uiMode"
            android:exported="true"
            android:launchMode="singleTop"
            android:voiceSearchMode="showVoiceSearchButton|launchRecognizer">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".ui.folder_backup.FolderBackupSelectedPathActivity" />

        <activity
            android:name=".ui.media.player.CustomExoVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensor" />

        <activity
            android:name=".ui.webview.SeaWebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.data_migrate.DataMigrationActivity" />
        <activity android:name=".ui.selector.ObjSelectorActivity" />
        <activity android:name=".ui.transfer_list.TransferActivity" />
        <activity android:name=".ui.BugHandlerActivity" />
        <activity android:name=".ui.settings.SettingsAlbumBackupAdvancedActivity" />
        <activity android:name=".ui.data_migrate.DataMigrationV303Activity" />
        <activity android:name=".ui.sdoc.SDocWebViewActivity" />
        <activity android:name=".ui.docs_comment.DocsCommentsActivity" />
        <activity
            android:name=".ui.media.image_preview2.CarouselImagePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.media.image_preview2.OnlyImagePreviewActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".provider.SeafileProvider"
            android:authorities="${applicationId}.documents"
            android:enabled="@bool/atLeastKitKat"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <provider
            android:name=".ui.camera_upload.StubContentProvider"
            android:authorities="${applicationId}.cameraupload.provider"
            android:exported="false"
            android:label="@string/sync_provider_camera_upload"
            android:syncable="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".account.AuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".ui.camera_upload.CameraSyncService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/cameraadapter" />
        </service>

        <!--        <service-->
        <!--            android:name=".ui.camera_upload.MediaSchedulerService"-->
        <!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <service
            android:name=".framework.file_monitor.FileSyncService"
            android:exported="false" />

        <!--        <receiver-->
        <!--            android:name=".BootAutostart"-->
        <!--            android:exported="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
        <!--            </intent-filter>-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />-->
        <!--            </intent-filter>-->
        <!--        </receiver>-->
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
</manifest>
